@font-face {
    font-family: "pepsi";
    src: url(PepsiOwner-Regular.ttf);
}

@font-face {
    font-family: "pepsi2";
    src: url(PepsiOwner-Extendido.ttf);
}

body {
    background-color: hsl(0, 0%, 0%);
    margin: 0;
    padding: 0;
    text-align: left;
    letter-spacing: 2px;
}

header {
    background-color: black;
    padding: 20px;
    border-bottom: solid 7px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "pepsi";
    justify-content: space-between;
    float: right;
}

.menu-items {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #0010ee;
    align-items: center;
    justify-content: center;
    padding: 100px;
    position: absolute;
    right: 0;
    top: 0;
}

nav ul li a {
    text-decoration: none;
    font-family: "pepsi2";
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
}

.menu-btn {
    float: right;
    background: none;
    border: none;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 50px;
}

.menu-btn-2 {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 30px;
    margin-right: 20px;
    background: none;
    border: none;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 50px;
}

header .Enlace__logo {
    float: left;
}

header li a {
    float: right;
    color: white;
    text-decoration: none;
    margin: 5px;
}

header li a:hover {
    color: #00A6FB;
    transform: translateY(-3px);
}

a > img {
    height: 60px;
}

.Enlace__logo {
    margin: -4px;
}

@font-face {
    font-family: "pepsi";
    src: url(pepsi-font.ttf);
}
@font-face {
    font-family: "titulos";
    src: url(NCLNeovibes-Demo.otf);
}

.hoja{
    color:rgb(0, 0, 0) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 30%;
}
.linea{ 
    display:flex;
}
.info_nutri{
    background-color:white ;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
}
.imagen{
    width: 75%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-right: 75%;
    margin: 0;
}
.imagen img{
    max-width: 95%;
    max-height: 90vh;
    height: auto;
    border-radius: 20px;
    object-fit: contain;
    padding-right:600px;
    justify-items: left;
    justify-content: left;
}
.derecha{
    text-align: right;
}
.kiko{
    display:flex;
    justify-content:space-between;
}
.contenedor{
    display:flex;
    height: 150vh;
    width: 100vw;
   
}
body{
    margin: 0;
    padding: 0;
    background-image: url(pepsi-pdp.jpeg);
    background-size: cover;
    background-position: 1px center;
    background-repeat: no-repeat;
    overflow-x: hidden;
}
.proteina{
     margin: 10%;
}
.flechas{
    text-align: center;
    margin-top: 50px;
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%; 
    margin-left: 1px center;
    position: absolute;
    padding-left: 500px;
}
.flechas a{
    font-size: 50px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 30px;

}
.flechas a:hover{
    color: gray;
}
.flecha{
    color: white;
}